.container{
    margin-top: 10%;
    background-color: rgba(231, 231, 231, 0.5);
    padding-bottom: 20px;
}
.inner-box{
    background-color: white;
    border: 1px dashed rgba(177, 175, 175, 0.534);
    height: 200px;
    word-wrap: break-word;
    
}
